<div class="flex justify-center items-center bg-gray-100 w-full pt-16 px-8 pb-8 bottom-0">
  <div class="flex flex-col items-center justify-start">
    <div class="flex">
      <div class="list-links">
        <h6>Buscar propiedades</h6>
        <ul>
          <li><a href="/ar/inmuebles/departamentos-en-venta">Departamentos en venta</a></li>
          <li><a href="/ar/inmuebles/departamentos-en-alquiler">Departamentos en renta</a></li>
          <li><a href="/ar/inmuebles/casas-en-venta">Casas en venta</a></li>
          <li><a href="/ar/inmuebles/casas-en-alquiler">Casas en renta</a></li>
        </ul>
      </div>
      <div class="list-links">
        <h6>Inmobiliarios</h6>
        <ul>
          <li><a href="https://www.easybroker.com/ar?source=easyaviso.com">Únete a la Bolsa Inmobiliaria</a></li>
          <li><a href="https://www.easybroker.com/ar/sitio-web-inmobiliario">Crea tu sitio web</a></li>
        </ul>
      </div>
      <div class="list-links">
        <h6>EasyAviso</h6>
        <ul>
          <li><a href="/ar/publicar">Publica tu propiedad</a></li>
          <li><a href="https://www.easybroker.com/ar/jobs">Carreras</a></li>
          <li><a href="/ar/contacto">Contáctanos</a></li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="button --outline" data-toggle="modal" data-target="[data-language-modal]">
        <i class="far fa-globe" aria-hidden="true"></i>
        Español
        <div class="divider --dot --black m-0"></div>
        Argentina
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="flex">
        <div>©2024 <span class="company-name"> EasyBroker</span> LLC</div>
        <div class="divider --vertical-xs --xs --dark"></div>
        <a target="_blank" class="button --inline --regular" href="/ar/privacy">Términos de privacidad</a>
      </div>
      <div class="flex">
        <a target="_blank" href="https://www.facebook.com/easyaviso"><img alt="Facebook" src="https://cdn.easybroker.com/assets/agent/social/facebook-d323d27cdf6b39774acfdf5a91824ee9e67067372815a63919a35d7112cb55fa.svg"></a>
        <a target="_blank" href="https://www.instagram.com/easyaviso"><img alt="Instagram" src="https://cdn.easybroker.com/assets/agent/social/instagram-4de67a553ea803dade110ca7a574e47ffa86240feaa2e3e2c2a9eb13210d9d61.svg"></a>
        <a target="_blank" href="https://www.linkedin.com/company/easybroker"><img alt="Linkedin" src="https://cdn.easybroker.com/assets/agent/social/linkedin-3e95f33b5966fd7a6e741ceb8fc9936ecbaf0533a6f9aa92edfe4435e6da3d04.svg"></a>
        <a target="_blank" href="https://twitter.com/easyaviso"><img alt="Twitter" src="https://cdn.easybroker.com/assets/agent/social/x-twitter-783eeb0ca32327ce38b99e90f5575fe3106a828532ce488c1f18148c14c5699e.svg"></a>
      </div>
    </div>
  </div>
</div>