<% if flash[:notice].present? %>
  <div class="w-full p-4 absolute top-0 text-sm text-green-800 rounded-lg bg-green-50"  role="alert">
    <span class="font-medium"><%= notice %></span>
  </div>
<% end %>