<div class="flex justify-center items-center">
  <div class="bg-white rounded-2xl p-[0.33rem]">
    <div class="flex gap-1">
      <section class="flex flex-col justify-center py-[0.6rem] px-[0.7rem] w-52 h-[3rem] rounded-xl leading-tight hover:bg-gray-100 cursor-pointer">
        <div class="text-xs text-left text-gray-500">Ubicación</div>
        <div class="text-[13.6px] text-left text-black">Cualquiera</div>
      </section>
      <section class="flex flex-col justify-center py-[0.6rem] px-[0.7rem] w-52 h-[3rem] rounded-xl leading-tight hover:bg-gray-100 cursor-pointer">
        <div class="text-xs text-left text-gray-500">Operación y precio</div>
        <div class="text-[13.6px] text-left text-black">Cualquiera</div>
      </section>
      <section class="flex flex-col justify-center py-[0.6rem] px-[0.7rem] w-52 h-[3rem] rounded-xl leading-tight hover:bg-gray-100 cursor-pointer">
        <div class="text-xs text-left text-gray-500">Tipo de propiedad</div>
        <div class="text-[13.6px] text-left text-black">Cualquiera</div>
      </section>
      <div class="flex items-center justify-center gap-2 bg-pink-600 py-[0.6rem] px-[0.7rem] w-auto h-[3rem] rounded-xl leading-tight cursor-pointer hover:bg-pink-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15" color="#ffffff" fill="none">
          <path d="M17.5 17.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
        </svg>
        <span class="text-white">Buscar</span>
      </div>
    </div>
  </div>
</div>
