<section class="flex flex-col items-center h-auto">
  <div class="w-full h-[46vh] bg-[url('/house-bg.png')] bg-center bg-cover">
    <div class="flex flex-col items-center justify-center">
      <div class="max-w-[1240px] w-full h-20 flex justify-between items-center px-6">
        <img src="/logo-ea.svg" alt="logo" class="brightness-[10] w-32"/>
      </div>
      <header class="min-h-[35vh] h-auto flex flex-col justify-center mt-[-1.5rem] gap-7 items-center w-full text-center">
        <h1 class="text-5xl font-bold text-white">La manera fácil de encontrar tu casa</h1>
        <%= render 'shared/search' %>
      </header>
    </div>
  </div>
  <section class="flex items-center justify-start max-w-[1240px] w-full py-16 px-6 bg-white">
    <%= render "home/partials/banner" %>
  </section>
</section>
