<div class="grid grid-cols-2 gap-4 w-full items-center shadow-[0_0_8px_0_rgba(11,11,14,0.08)] rounded-2xl">
  <div class="py-6 pl-12">
    <div class="text-2xl mb-2">
      Organiza tu búsqueda
    </div>
    <div class="text-xl font-light leading-8">
      Guarda y organiza las propiedades que te interesan en un tablero y compártelo con tu asesor inmobiliario, pareja o roomie.
    </div>
    <a class="flex items-center justify-center w-fit bg-eb-pink p-3 mt-8 text-white rounded-xl cursor-pointer hover:bg-pink-600" href="#">Ver tableros</a>
  </div>
  <div class="h-full p-6">
    <img class="cover rounded-2xl overflow-hidden" src="https://cdn.easybroker.com/assets/marketplace/favorites/discovery-5a37c9cdcb5c012fa26b7d0252bbe440ad37d70f2e87902cd58f978d5819be6f.png">
  </div>
</div>
